<table class="table table-striped table-hover">
  <tr>
    <th>Время (UFA)</th>
    <th>Рейс</th>
    <th><%= direction %></th>
    <th>Авиакомпания</th>
    <th>Терминал</th>
    <th>Статус</th>
  </tr>

<% tablo.each do |row| %>
  <tr>
    <td><%= row['time'] %></td>
    <td><%= row['flight_number'] %></td>
    <td><%= row['airport_ru'] %></td>
    <td><%= row['aircompany']['name_ru'] %></td>
    <td><%= row['terminal'] %></td>
    <td><%= row['status_ru'] %></td>
  </tr>
<% end %>

</table>
